@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {

  /* Colors */
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-success: #16a34a;
  --color-white: #ffffff;
  --color-white-base: #ffffff;

  /* sidebar */
  --color-sidebar: #2563eb;
  /* Font */
  --font-sans: "Roboto", sans-serif;

  /* Font size */
  --font-size-base: 0.875rem;
  --font-size-sidebar: 1.1rem;
}

:root {
  font-family: var(--font-sans);
  line-height: 1;
  font-weight: 400;
  font-size: var(--font-size-base);

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled-input {
  @apply bg-gray-50 text-gray-500 cursor-not-allowed;
}

.layout-main {
  padding: 1.25rem;
}
.header {
  height: 60px;
}

.not-found {
  min-height: 100%;
}

.sidebar-font {
  font-size: var(--font-size-sidebar);
}